<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.flightpos">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".FlightAttendentLogin"
            android:label="@string/title_activity_flight_attendent_login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".AttendendMainActivity"
            android:label="Select Flight Details"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SyncActivity"
            android:label="Sync Data From Server"
            android:theme="@style/AppTheme.Dark" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".PrintActivity" />
        <activity
            android:name=".AttCheckInfo"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".ICCardReader" />
        <activity android:name=".MSReader" />
        <activity
            android:name=".AddSeal"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SellarInfoActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SellItemsActivity"
            android:label="Sell Items"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".BuyOnBoardItemsActivity"
            android:label="Sell Buy on Board Items"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".PaymentMethodsActivity"
            android:label="Payments"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".InventoryReportActivity"
            android:label="Print Inventory Reports"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".VerifyInventoryActivity"
            android:label="Verify Inventory"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CheckInventoryActivity"
            android:label="Verify Drawers"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".VerifyDrawerActivity"
            android:label="Verify Drawers"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CloseFlightActivity"
            android:label="Close Flight"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".BuyItemFromCategoryActivity"
            android:label="Sell Items"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ConfigureFlightActivity"
            android:label="Configure Flight"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".VerifyFlightByAdminActivity"
            android:label="POS Admin verifications"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MessageToBondActivity"
            android:label="Send a Message to Bond"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".ExchangeRateActivity"
            android:label="Available Exchange Rates"
            android:theme="@style/AppTheme.Dark"></activity>
    </application>

</manifest>