<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.airport">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.sunmi.perm.LED" />
    <uses-permission android:name="com.sunmi.perm.MSR" />
    <uses-permission android:name="com.sunmi.perm.ICC" />
    <uses-permission android:name="com.sunmi.perm.PINPAD" />
    <uses-permission android:name="com.sunmi.perm.SECURITY" />
    <uses-permission android:name="com.sunmi.perm.CONTACTLESS_CARD" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Background">
        <activity android:name=".FlightScheduleTabActivity2"></activity>
        <activity android:name=".FlightScheduleActivity" />
        <activity android:name=".VoucherSelectionActivity" />

        <receiver
            android:name=".BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WorldTracerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".PrintTransactionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Background" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".FlightAttendentLogin"
            android:label="@string/title_activity_flight_attendent_login"
            android:theme="@style/Background" />
        <activity
            android:name=".AttendendMainActivity"
            android:label="Select Flight Details" />
        <activity
            android:name=".SyncActivity"
            android:label="Sync Data From Server" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".PrintActivity" />
        <activity
            android:name=".AttCheckInfo"
            android:label="Flight User - Info" />
        <activity android:name=".ICCardReader" />
        <activity android:name=".MSReader" />
        <activity
            android:name=".AddSeal"
            android:label="Seal Info" />
        <activity
            android:name=".SellarInfoActivity"
            android:label="Seller Info" />
        <activity
            android:name=".SellItemsActivity"
            android:label="Sell Items" />
        <activity
            android:name=".BuyOnBoardItemsActivity"
            android:label="Sell Items" />
        <activity
            android:name=".PaymentMethodsActivity"
            android:label="Payments" />
        <activity
            android:name=".InventoryReportActivity"
            android:label="Print Inventory Reports" />
        <activity
            android:name=".VerifyInventoryActivity"
            android:label="Verify Inventory" />
        <activity
            android:name=".CheckInventoryActivity"
            android:label="Verify Drawers" />
        <activity
            android:name=".VerifyDrawerActivity"
            android:label="Verify Drawers" />
        <activity
            android:name=".CloseFlightActivity"
            android:label="Close Flight" />
        <activity
            android:name=".BuyItemFromCategoryActivity"
            android:label="Sell Items" />
        <activity
            android:name=".ConfigureFlightActivity"
            android:label="Flight Details"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".VerifyFlightByAdminActivity"
            android:label="POS Admin verifications" />
        <activity
            android:name=".MessageToBondActivity"
            android:label="Send a Message to Bond" />
        <activity
            android:name=".ExchangeRateActivity"
            android:label="Available Exchange Rates" />
        <activity
            android:name=".PreOrderDeliveryActivity"
            android:label="Pre Order Delivery" />
        <activity
            android:name=".DefineCartNumbersActivity"
            android:label="Save Cart Numbers" />
        <activity
            android:name=".VerifyCartsActivity"
            android:label="Verify Carts" />
        <activity android:name=".SelectModeActivity" />
        <activity
            android:name=".VoidOrderActivity"
            android:label="Change Order"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ClosingSealsActivity"
            android:label="Closing Seals" />
        <activity
            android:name=".AnnouncementActivity"
            android:label="Announcements" />
        <activity android:name=".NFCReader">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadPreOrderAdminActivity"
            android:label="Pack Pre Orders" />
        <activity
            android:name=".SelectPreOrderTypeActivity"
            android:label="Select pre order type" />
        <activity
            android:name=".AcceptPreOrdersActivity"
            android:label="Accept pre orders" />
        <activity
            android:name=".PreOrderPaymentsActivity"
            android:label="Pre order payments" />
        <activity
            android:name=".PrintInventorActivity"
            android:label="Print Inventory" />
        <activity
            android:name=".SelectServiceTypeForSealActivity"
            android:label="Select Service type" />
        <activity android:name=".UploadSalesDataActivity" />
        <activity
            android:name=".GateUserMainActivity"
            android:label="Select Category" />
        <activity
            android:name=".UserDetailsActivity"
            android:label="Passenger Details"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GateItemSelectionActivity"
            android:label="Sell Items"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".OptionsActivity" />
        <activity
            android:name=".BaseStationActivity"
            android:label="Change Base Station" />
        <activity
            android:name=".ConpensationSelectionActivity"
            android:label="Compensation Type" />
        <activity
            android:name=".VoucherDetailsActivity"
            android:label="Voucher Details" />
        <activity
            android:name=".RemovalComponsationActivity"
            android:label="Compensation"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>